<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
   </p>
<% end %>

<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2> <%= @book.errors.count %>errors prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
     <%= render 'users/info', user: current_user %>
     <%= render 'form', book: @book %>
    </div>
    <%= render 'list', books: @books %>
  </div>
</div>
